<div class="mt-4">
  <form method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Từ khóa</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="search-input"
        placeholder="Nhập từ khóa"
      />
       <label for="exampleInputEmail1">Từ khóa</label>
      <select
        type="text"
        name="gender"
        class="form-control"
        id="gender-input">
        -- Chọn giới tính --
        Nam
        Nữ
        </select>
        
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>